div#nav a:link    {color:grey; background-color:transparent; text-decoration:underline}
div#nav a:visited {color:green; background-color:transparent; text-decoration:none}
div#nav a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div#nav a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#onChildrenPage{
	font: 16px 'Anivers';
	background-color: #6495ED;
}
.main{
	width:90%;
	height: 100%;
	padding:2%;
	margin:0px auto;
	background-color: #B0C4DE;
	border:1px solid black;
	box-shadow:-5px 5px 5px grey;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}
.mesaj{
	height: 40px;
	width: 96%;
	margin: 2%;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Chaparral Pro Light';
	text-shadow: 5px 3px 3px grey;
}
#nav{
	text-align: right;
}
.adauga-copil{
	display: none;
}

#map{
	width: 100%;
	height: 500px;
}
