div.continut a:link    {color:grey; background-color:transparent; text-decoration:underline}
div.continut a:visited {color:green; background-color:transparent; text-decoration:none}
div.continut a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
div.continut a:active  {color:yellow; background-color:transparent; text-decoration:underline}



.bun_venit{
	text-align: center;
	font-family: 'Chaparral Pro Light';
	text-shadow: 5px 3px 3px grey;
}

.continut{
	margin: 10px;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-family: 'Harrington';
	font-size: 16px;
}
#linie1{
	position: relative;
	width: 100%;
}


