
.footer a:link    {color:grey; background-color:transparent; text-decoration:underline}
.footer a:visited {color:green; background-color:transparent; text-decoration:none}
.footer a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
.footer a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#body{
	font: 16px 'Anivers';
	background-color: #6495ED;
}

.main{
	width:90%;
	height: 100%;
	padding:0px;
	margin:0px auto;
	background-color: #B0C4DE;
	border:1px solid black;
	box-shadow:-5px 5px 5px grey;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}
/*-------------------------------------*/
/*-----div-uri-------*/
#div1{
	padding: 2%;
	margin-bottom: 2%;
	width: 100%;
}
#div4{
	height: 30px;
	width: 96%;
	border:0px;
	margin-left: 2%;
	display: none;
}
.doi_trei{
	width:99%;
	height:400px;
	display: inline-block;
	margin:2%;	
}
#div2{
	width: 15%;
	height: 396px;
	float:left;
	border:1px solid black;
	border-right:7px solid grey;
	background-color:#AFEEEE;
	overflow: auto; 
	}
#div3{
	height: 396px;
	width: 75%;
	float:left;
	margin-top: 0px;
	border:1px solid black;
	background-color: #E0FFFF;
	overflow: auto;

}
#div5{
	width: 96%;
	height: 800px;
	margin: 2%;
	margin-top:0px;
	display: none;
	background-color: red;
}
/*-----/div-uri------*/


/*---------footer----------------------------*/
.contact_titlu{
	font-weight: bold;
	font-size: 20px;
	padding:10px;
	text-align:left;
	background-color:#87CEEB;
}
.contact{
	text-align:center;
	background-color:#87CEEB;
	width:100%;
	height:100px;
	display: inline-block;
	position:relative;
	border-radius: 0px 0px 10px 10px;
}
.unu{
	width:30%;
	height:100px;
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}
.doi{
	width:30%;
	height:100px;
	position: relative;
	margin-left: 32%;
	margin-top: -100px;

}
.trei{
	width:25%;
	height:100px;
	position: relative;
	margin-left: 68%;
	margin-top: -100px;
	margin-right: 10px;
}


@media all and (min-width: 800px) and (max-width: 1024px) {

.footer a:link    {color:grey; background-color:transparent; text-decoration:underline}
.footer a:visited {color:green; background-color:transparent; text-decoration:none}
.footer a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
.footer a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#body{
	font: 12px 'Anivers';
	background-color: #6495ED;
}

.main{
	width:90%;
	height: 100%;
	padding:0px;
	margin:0px auto;
	background-color: #B0C4DE;
	border:1px solid black;
	box-shadow:-5px 5px 5px grey;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}
/*-------------------------------------*/
/*-----div-uri-------*/
#div1{
	padding: 2%;
	margin-bottom: 2%;
}
#div4{
	height: 30px;
	width: 96%;
	border:0px;
	margin-left: 2%;
	display: none;
}
.doi_trei{
	width:96%;
	height:400px;
	margin:2%;	
}
#div2{
	width: 15%;
	height: 398px;
	float:left;
	border:1px solid black;
	border-right:7px solid grey;
	background-color:#AFEEEE;
	overflow: auto; 
	}
#div3{
	height: 398px;
	width: 83%;
	float:left;
	margin-top: 0px;
	border:1px solid black;
	background-color: #E0FFFF;
	overflow: auto;

}
#div5{
	width: 96%;
	height: 800px;
	margin: 2%;
	margin-top:0px;
	display: none;
	background-color: red;
}
/*-----/div-uri------*/


/*---------footer----------------------------*/
.contact_titlu{
	font-weight: bold;
	font-size: 15px;
	padding:10px;
	text-align:left;
	background-color:#87CEEB;
}
.contact{
	text-align:center;
	background-color:#87CEEB;
	width:100%;
	height:100px;
	display: inline-block;
	position:relative;
	border-radius: 0px 0px 10px 10px;
}
.unu{
	width:30%;
	height:100px;
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}
.doi{
	width:30%;
	height:100px;
	position: relative;
	margin-left: 32%;
	margin-top: -100px;

}
.trei{
	width:25%;
	height:100px;
	position: relative;
	margin-left: 68%;
	margin-top: -100px;
	margin-right: 10px;
}
}



@media all and (min-width: 400px) and (max-width: 800px) {

	.footer a:link    {color:grey; background-color:transparent; text-decoration:underline}
.footer a:visited {color:green; background-color:transparent; text-decoration:none}
.footer a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
.footer a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#body{
	font: 10px 'Anivers';
	background-color: #6495ED;
}

.main{
	width:90%;
	height: 100%;
	padding:0px;
	margin:0px auto;
	background-color: #B0C4DE;
	border:1px solid black;
	box-shadow:-5px 5px 5px grey;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}
/*-------------------------------------*/
/*-----div-uri-------*/
#div1{
	padding: 2%;
	margin-bottom: 2%;
}
#div4{
	height: 30px;
	width: 96%;
	border:0px;
	margin-left: 2%;
	display: none;
}
.doi_trei{
	width:96%;
	height:400px;
	display: inline-block;
	margin:2%;	
}
#div2{
	width: 15%;
	height: 398px;
	float:left;
	border:1px solid black;
	border-right:7px solid grey;
	background-color:#AFEEEE;
	overflow: auto; 
	}
#div3{
	height: 398px;
	width: 83%;
	float:left;
	margin-top: 0px;
	border:1px solid black;
	background-color: #E0FFFF;
	overflow: auto;

}
#div5{
	width: 96%;
	height: 800px;
	margin: 2%;
	margin-top:0px;
	display: none;
	background-color: red;
}
/*-----/div-uri------*/


/*---------footer----------------------------*/
.contact_titlu{
	font-weight: bold;
	font-size: 13px;
	padding:10px;
	text-align:left;
	background-color:#87CEEB;
}
.contact{
	text-align:center;
	background-color:#87CEEB;
	width:100%;
	height:100px;
	display: inline-block;
	position:relative;
	border-radius: 0px 0px 10px 10px;
}
.unu{
	width:30%;
	height:100px;
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}
.doi{
	width:30%;
	height:100px;
	position: relative;
	margin-left: 32%;
	margin-top: -100px;

}
.trei{
	width:25%;
	height:100px;
	position: relative;
	margin-left: 68%;
	margin-top: -100px;
	margin-right: 10px;
}
}



@media all and (min-width: 200px) and (max-width: 400px) {

	.footer a:link    {color:grey; background-color:transparent; text-decoration:underline}
.footer a:visited {color:green; background-color:transparent; text-decoration:none}
.footer a:hover   {color:#33FFFF; background-color:grey; text-decoration:underline}
.footer a:active  {color:yellow; background-color:transparent; text-decoration:underline}

#body{
	font:8px 'Anivers';
	background-color: #6495ED;
}

.main{
	width:90%;
	height: 100%;
	padding:0px;
	margin:0px auto;
	background-color: #B0C4DE;
	border:1px solid black;
	box-shadow:-5px 5px 5px grey;
	border-radius: 10px 10px 10px 10px;
	overflow: hidden;
}
/*-------------------------------------*/
/*-----div-uri-------*/
#div1{
	padding: 2%;
	margin-bottom: 2%;
}
#div4{
	height: 30px;
	width: 96%;
	border:0px;
	margin-left: 2%;
	display: none;
}
.doi_trei{
	width:96%;
	height:400px;
	display: inline-block;
	margin:2%;	
}
#div2{
	width: 15%;
	height: 398px;
	float:left;
	border:1px solid black;
	border-right:7px solid grey;
	background-color:#AFEEEE;
	overflow: auto; 
	}
#div3{
	height: 398px;
	width: 83%;
	float:left;
	margin-top: 0px;
	border:1px solid black;
	background-color: #E0FFFF;
	overflow: auto;

}
#div5{
	width: 96%;
	height: 800px;
	margin: 2%;
	margin-top:0px;
	display: none;
	background-color: red;
}
/*-----/div-uri------*/


/*---------footer----------------------------*/
.contact_titlu{
	font-weight: bold;
	font-size: 10px;
	padding:10px;
	text-align:left;
	background-color:#87CEEB;
}
.contact{
	text-align:center;
	background-color:#87CEEB;
	width:100%;
	height:100px;
	display: inline-block;
	position:relative;
	border-radius: 0px 0px 10px 10px;
}
.unu{
	width:30%;
	height:100px;
	position: relative;
	margin-top: 1%;
	margin-left: 1%;
	margin-right: 1%;
}
.doi{
	width:30%;
	height:100px;
	position: relative;
	margin-left: 32%;
	margin-top: -100px;

}
.trei{
	width:25%;
	height:100px;
	position: relative;
	margin-left: 68%;
	margin-top: -100px;
	margin-right: 10px;
}
}

